@import './libs/css3'
@import './values/colors'
@import './libs/position'

*
	box-sizing: border-box
	& > a
		text-decoration: inherit
		color: inherit

body
	height: 100%
	font-family: 'Open Sans', sans-serif

header
	background-color: clr_csi_green
	position: relative
	
